body{
    background-color: #f5f5dc;
    font-family: 'Times New Roman', serif;
}

.navbar-custom{
    background-color: #47c7fc;
}

.h{
    font-family: 'Ephesis';
}

.btn-custom{
    background-color: #47c7fc;
}

.btn-custom:hover{
    background-color: #0290cc;
}

.btn{
    background-color: #47c7fc;
}
.btn:hover{
    background-color: #0290cc;
}

.eliminar{
    background-color: #ff0000;
}

.eliminar:hover{
    background-color: #d40000;
}

.editar {
    background-color: #ff8000;
}

.editar:hover{
    background-color: #d46a00;
}

.alert1{
    background-color: #ff8000;
    
}

.alert2{
    background-color: #09bd09;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

footer {
    background-color: #47c7fc;
    padding: 10px 0;
    text-align: center;
}